* {
   margin: 0;
   padding: 0;
   font-family: Arial, Helvetica, sans-serif;
}

.main-container {
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: .1fr;
   text-align: center;
   min-height: 100vh;
   background-color: lightyellow;
}

/* header */

.header {
   background-color: lightblue;
   position: relative;
   box-shadow: 0 2px 3px rgb(175, 175, 175);
}

/* gameboard */

.gameboard-container {
   display: flex;
   justify-content: center;
   align-items: center;
}

.gameboard {
   display: none;
}

.gameboard.active {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr 1fr;
   gap: 6px;
   background-color: black;
}

.cell {
   height: 100px;
   width: 100px;
   display: grid;
   justify-items: center;
   align-items: center;
   font-size: 5rem;
   background-color: lightyellow;
}

/* modal */

.modal {
   position: fixed;
   z-index: 1;
   top: 50%;
   left: 50%;
   width: 300px;
   padding: 20px;
   border-radius: 10px;
   background-color: #f0eef1;
   transform: translate(-50%, -50%) scale(0);
   transition: 0.2s ease-in-out;
}

.modal.active {
   transform: translate(-50%, -50%) scale(1);
}

.overlay {
   position: fixed;
   top: 0;
   left: 0;
   display: none;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.5);
}

.overlay.active {
   display: block;
}